<p style="color: green"><%= notice %></p>

<% content_for :title, "Ads" %>

<h1>Ads</h1>

<div>
  <%= form_with url: search_ads_path, method: :post do |form| %>
    <%= form.search_field :title_search, oninput: "this.form.requestSubmit()" %>
  <% end %>
</div>

<div id="search_result">search results</div>

<div id="new_ad">
  <%= render partial: 'form', locals: { ad: Ad.new } %>
</div>

<div id="ads">
  <% @ads.each do |ad| %>
    <%= render ad %>
    <p>
      <%= link_to "Show this ad", ad %>
    </p>
  <% end %>
</div>

<%= link_to "New ad", new_ad_path %>
